/** 全局设置 **/
html{
  margin-right: 0px;
  height: 100%;
}
body{
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.7;
  margin: 0;
}
a{
  text-decoration: none;
}
p{
  margin: 0;
  padding: 0;
}
button,input{
  outline: 0px;
}

/*** 导航栏 ***/
.navigation{
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  background: -webkit-linear-gradient(to bottom,#086ed5,#055db5);
  background: linear-gradient(to bottom,#086ed5,#055db5);
  border-bottom: 1px solid #044e97;
  box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
  text-align: center;
}
.navigation-wrapper{
  width: 960px;
  height: 100%;
  margin: 0px auto;
}
.logo{
  display: block;
  float: left;
  width: 61px;
  height: 29px;
  background-image: url(../img/new_logo@2x.ad6567b2.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 8px;
  cursor: pointer;
}
.nav-search-form{
  position: relative;
  display: block;
  float: left;
  width: 367px;
  height: 32px;
  margin-top: 7px;
  margin-left: 12px;
}
.nav-search-input{
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 7px 50px 7px 10px;
  background-color: #e1eaf2;
  border: 1px solid #045bb2;
  border-radius: 4px;
  font-size: 13px;
  outline: 0px;
}
.nav-search-button{
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 100%;
  background: -webkit-linear-gradient(to bottom,#0e7bef,#0d73da);
  background: linear-gradient(to bottom,#0e7bef,#0d73da);
  border: 1px solid #045bb2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15);
  outline: 0px;
}
.nav-search-icon{
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.nav-search-list{
  float: left;
}
.nav-search-ul{
  float: left;
  margin: 0px 0px 0px 18px;
  padding: 0px;
  list-style: none;
}
.nav-search-li{
  display: inline-block;
}
.nav-search-li a{
  display: block;
  width: 54px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #f2f4f5;
  font-size: 14px;
}
.nav-question-button{
  float: right;
  width: 66px;
  height: 30px;
  margin-top: 7px;
  border: 1px solid #045bb2;
  border-radius: 4px;
  background: -webkit-linear-gradient(to bottom,#0e7bef,#0d73da);
  background: linear-gradient(to bottom,#0e7bef,#0d73da);
  color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15);
  font-size: 14px;
  cursor: pointer;
}
.nav-profile{
  float: right;
  width: 120px;
  height: 45px;
  margin-left: 15px;
}
.nav-profile-link{
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}
.nav-profile-link-img{
  display: block;
  float: left;
  margin: 9px 9px 0px 0px;
}
.nav-profile-link-name{
  display: block;
  float: left;
  height: 45px;
  width: 42px;
  line-height: 45px;
  color: #fff;
  font-size: 14px;
}
.nav-profile-dropdown{
  display: none;
  height: 164px;
  background-color: #095fb3;
  border: 1px solid #0d5aa5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav-profile-dropdown-link{
  display: block;
  height: 40px;
  border-top: 1px solid #0d5aa5;
  color: #fff;
  line-height: 40px;
  text-align: left;
  font-size: 14px;
}
.nav-profile-dropdown-link:hover{
  background-color: #0767c7;
}
.nav-profile-dropdown-link i{
  height: 40px;
  line-height: 40px;
  margin: 0 15px 0 15px;
  float: left;
  color: #fff;
  font-size: 16px;
}
.nav-profile-dropdown-link .fa-envelope-o{
  margin-left: 14px;
}

/*** 页面主体 ***/
.main{
  position: relative;
  top: 46px;
  z-index: -100;
  width: 960px;
  height: 100%;
  margin: 16px auto;
  font-size: 13px;
  color: #999;
}

/*** 最新动态--标题 ***/
.main-content{
  position: absolute;
  top: 10px;
  width: 632px;
  box-sizing: border-box;
  margin: 0 328px 0 0;
}
.main-content-title{
  height: 35px;
  border-bottom: 1px solid #ddd;
}
.main-content-title span i{
  display: inline-block;
  margin-right: 5px;
  color: #aaa;
}
.main-content-title-news{
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}
.main-content-title-link{
  float: right;
  cursor: pointer;
}
.main-content-title-link:hover{
  color: #5f97bf;
  text-decoration: underline;
}
.main-content-title-link:hover i{
  color: #999;
}

/*** 最新动态--更新提示 ***/
.main-content-update{
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-top: 13px;
  border: 1px solid #cce1ef;
  border-radius: 4px;
  background-color: #eff6fa;
  color: #777;
  text-align: center;
  text-shadow: 0px 1px 0px #fff;
}
.main-content-update:hover{
  background-color: #def1fc;
}

/*** 最新动态--动态内容 ***/
.main-content-section{
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.main-content-avatar{
  float: left;
}
.main-content-avatar-img{
  width: 38px;
  height: 38px;
  border-radius: 3px;
}
.main-content-source{
  position: relative;
  top: -2px;
  margin-left: 48px;
  color: #999;
}
.main-content-source-name{
  color: inherit;
}
.main-content-source-time{
  float: right;
  font-size: 13px;
}
.main-content-source-name:hover{
  text-decoration: underline;
  color: #259;
}
.main-content-answer{
  position: relative;
  top: -1px;
}
.main-content-answer-question{
  font-size: 14px;
  font-weight: bold;
  color: #259;
}
.main-content-answer-question:hover{
  text-decoration: underline;
}
.main-content-answer-author{
  font-size: 13px;
  color: #000;
}
.main-content-answer-author a{
  font-weight: bold;
  color: inherit;
}
.main-content-answer-author a:hover{
  text-decoration: underline;
}
.main-content-answer-close{
  float: right;
  position: relative;
  top: 3px;
  right: 3px;
  display: block;
  width: 15px;
  height: 15px;
  color: #ddd;
  cursor: pointer;
}
.main-content-answer-close:hover{
  color: #aaa;
}
.main-content-answer-close ~ .display-ignore{
  display: none;
  z-index: -10000;
  float: right;
  position: relative;
  top: 5px;
  left: 40px;
}
.display-ignore span{
  display: block;
  width: 75px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 4px;
  background: rgba(0,0,0,0.7);
  color: #fff;
}
.display-ignore:before{
  content: "";
  position: relative;
  bottom: 5px;
  left: 28px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: rgba(0,0,0,0.7);
}
.main-content-answer-box{
  margin-top: 1px;
  color: #000;
}
.main-content-answer-img{
  float: left;
  width: 200px;
  height: 112px;
  border-radius: 4px;
  margin: 1px 10px 5px 0;
}
.main-content-answer-part{
  position: relative;
  cursor: pointer;
}
.main-content-answer-vote{
  display: block;
  position: absolute;
  left: -48px;
  top: -25px;
  width: 38px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  color: #698ebf;
  font-size: 13px;
  font-weight: 500;
  background: #eff6fa;
  cursor: pointer;
}
.main-content-answer-vote:hover{
  color: #fff;
  background: #698ebf;
}
.show-all-link{
  display: inline-block;
  padding: 0 3px;
  border-radius: 2px;
  font-size: .9em;
  color: #259;
}
.main-content-answer-all{
  display: none;
  position: relative;
}
.main-content-answer-all ul{
  margin: .8em 0;
  padding: 0;
}
.main-content-answer-all ul li{
  margin: 0 0 5px;
  list-style-position: inside;
}
.main-content-answer-all img{
  width: 100%;
  cursor: zoom-in;
}
.collapse-button{
  display: block;
  position: fixed;
  top: auto;
  left: 739px;
  bottom: 12px;
  width: 51px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  border: 0;
  border-radius: 3px;
  z-index: 10;
  background-color: #81baeb;
  font-size: 13px;
  color: #fff;
  opacity: .9;
  cursor: pointer;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  -moz-transition: opacity .2s;
  transition: opacity .2s;
}
.collapse-button:hover{
  opacity: 1;
}
.collapse-button span{
  float: left;
}
.collapse-button span i{
  width: 5px;
  display: block;
  text-size-adjust:none;
  font-weight: 600;
  -webkit-transform: scale(0.7);
  margin-right: 6px;
}
.collapse-button span .fa-minus{
  position: relative;
  top: 4px;
}
.collapse-button span .fa-arrow-up{
  position: relative;
  left: -0.5px;
  top: -5px;
}
.up{
  display: block;
  position: absolute;
  left: -48px;
  top: -25px;
  width: 38px;
  height: 44px;
  border: 0;
  border-radius: 3px;
  font-size: 13px;
  color: #698ebf;
  background: #eff6fa;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}
.up:hover{
  color: #fff;
  background: #698ebf;
}
.up i{
  font-size: 18px;
  vertical-align: -50%;
}
.up .up-count{
  display: block;
  position: relative;
  top: -5px;
  height: 24px;
}
.down{
  position: absolute;
  left: -48px;
  top: 25px;
  width: 38px;
  height: 24px;
  line-height: 24px;
  border: 0;
  border-radius: 3px;
  color: #698ebf;
  background: #eff6fa;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}
.down:hover{
  color: #fff;
  background: #698ebf;
}
.down i{
  position: relative;
  top: -2px;
  font-size: 18px;
}

/*** 侧边栏 ***/
.main-sidebar{
  position: absolute;
  top: 10px;
  right: 0;
  width: 270px;
  font-weight: normal;
}
.main-sidebar-ad{
  margin-bottom: 20px;
}
.main-sidebar-ad a{
  display: block;
  width: 100%;
  height: 225px;
  border: 1px solid #eee;
  border-radius: 6px;
  background: url(../img/5b3862d1213a41bc232fa48157c2e859_540x450.jpg) no-repeat;
  background-size: cover;
  cursor: pointer;
}
.main-sidebar-section{
  border-bottom: 1px solid #eee;
}
.main-sidebar-lists{
  display: block;
  padding-left: 0;
}
.main-sidebar-list{
  position: relative;
  left: -10px;
  width: 280px;
  list-style: none;
}
.main-sidebar-link{
  display: block;
  height: 28px;
  line-height: 28px;
  padding-left: 10px;
  margin-bottom: 3px;
  border-radius: 4px;
  color: #666;
}
.main-sidebar-link i{
  width: 14px;
  height: 14px;
  text-align: center;
  margin-right: 5px;
  font-size: 13px;
  color: #999;
}
.main-sidebar-footer{
  margin-top: 14px;
  font-size: 13px;
}
.main-sidebar-footer ul{
  display: inline-block;
  padding-left: 0;
  margin: 0;
  text-align: left;
}
.main-sidebar-footer li{
  display: inline-block;
}
.main-sidebar-footer li+li:before{
  content: '•';
  margin: 0 6px 0 3px;
  color: #bbb;
}
.main-sidebar-footer li a{
  color: #999;
}
.main-sidebar-footer li a:hover{
  text-decoration: underline;
}
